.marks_container {
  margin: 60px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
  border: 8px solid;
  background-color: white;
  border-radius: 25px;
}

.marks_submit {
  margin-left: 43em
}

.marks_month_form {
  margin-left: 40em
}
